.notification__notification-sidebar {
    width: 400px;
    height: 100vh;
    margin-left: 75px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 20px 20px 0;
    transform: translateX(-100%); /* Ẩn sidebar sang bên trái */
    transition: transform 1s ease-out
}

.notification__notification-sidebar.active { 
    display: block;
    transform: translateX(0); /* Hiển thị sidebar sang bên phải */
}

.notification__notification-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
}

.notification__notification-header h3 {
    padding: 30px 30px 0px 30px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}

.notification__notification-body {
    padding: 0 30px;
}

.notification__this-month-item,
.notification__earlier-item {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.notification__this-month-item:hover,
.notification__earlier-item:hover {
    background-color: #f8f9fa;
}

.notification__this-month-item p,
.notification__earlier-item p {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}