* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    display: flex;
    min-height: 100vh;
}

.sidebar-small {
    width: 75px;
    height: 100vh;
    border-right: 1px solid #dbdbdb;
    position: fixed;
    background: white;
    padding: 25px 12px;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    height: 100vh;
    z-index: 60;
}

.logo-small {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 12px;
    color: black;
    display: flex;
    align-items: center;
}

.logo-small svg {
    display: block;
}

.nav-item-small {
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
    color: black;

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.nav-item-small svg {
    width: 24px;
    height: 24px;
}

.nav-item-small:hover {
    transform: scale(1.01);
    background-color: #f2f2f2;
}

.nav-item-small span {
    margin-left: 16px;
    font-size: 16px;
}

.nav-item-small img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}


.nav-item-small svg,
.nav-item-small img {
    transition: transform 0.2s ease;
}

.nav-item-small:hover svg,
.nav-item-small:hover img {
    transform: scale(1.05);
}

.bottom-nav-items-small {    
    margin-top: auto;
    margin-top: auto;  /* Đẩy phần tử xuống cuối */
    width: 100%;       /* Đảm bảo chiều rộng đầy đủ */
    /* display: flex; */
    justify-content: center;
}

/* .main-container {
    display: flex;
    margin-left: 250px;
    width: calc(100% - 250px);
} */

.nav-item-small.active {
    font-weight: 700;
}

.more-icon-default-small, .search-icon-default-small, .notification-icon-default-small {
    display: flex;
}

.more-icon-active-small, .search-icon-active-small, .notification-icon-active-small {
    display: none;
}

#more-btn-small {
    padding-left: 0px;
}

#search-btn-small.active .search-icon-default-small,
#notification-btn-small.active .notification-icon-default-small,
#more-btn-small.active .more-icon-default-small {
    display: none;
}

#search-btn-small.active .search-icon-active-small,
#notification-btn-small.active .notification-icon-active-small,
#more-btn-small.active .more-icon-active-small {
    display: flex;
}
